body {
    background: url(../img/hg.gif) repeat-y center #e1e1e1;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
strong,
b {
    font-weight: bold;
}
.clear {
    clear: both;
    float: none;
}
a {
    color: #94c11c;
    text-decoration: none;
}
a:hover {
    color: #94c11c;
    text-decoration: underline;
}
.wrapper {
    width: 880px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 430px;
    height: 103px;
    float: left;
}
.logo h1 {
    margin: 0;
    padding: 0;
    background: url("../img/logo.png") no-repeat;
    width: 430px;
    height: 103px;
}
.logo h1 a {
    display: block;
    overflow: hidden;
    width: 430px;
    height: 103px;
    text-indent: -9000px;
}
.meta {
    float: right;
    color: #9d9d9d;
    margin-top: 36px;
}
.meta a {
    color: #9d9d9d;
    text-decoration: none;
}
.meta a:hover,
.meta a.active {
    color: #94c11c;
    text-decoration: none;
}
.meta ul li {
    float: left;
    margin-left: 20px;
    display: block;
}
.meta ul li.first {
    margin-left: 0px
}
.language {
    float: right;
    margin-left: 20px;
    color: #9d9d9d;
    margin-top: 36px;
}
.language ul li {
    float: left;
    display: block;
}
.language a {
    float: left;
    margin-right: 4px;
    margin-left: 4px;
    display: block;
    color: #9d9d9d;
    text-decoration: none;
}
.language a:hover,
.language .active a {
    color: #94c11c;
    text-decoration: none;
}
.left {
    width: 210px;
    float: left;
}
.contentwrapper {
    clear: both;
    padding-top: 30px;
}
.headanimation {
    width: 640px;
    height: 410px;
    margin-bottom: 25px;
    float: right;
}
.mainnav {
    width: 210px;
    height: 410px;
    float: left;
    font-weight: bold;
}
.mainnav li a {
    display: block;
    padding-left: 10px;
    line-height: 30px;
    color: #000;
    background: #9d9d9d;
    text-decoration: none;
    margin-bottom: 4px;
}
.mainnav li a:hover {
    color: #000;
    background: #94c11d;
}
.mainnav li.active a {
    color: #000;
    background: #94c11d;
}
.mainnav li.active a:hover {
    background: #94c11d;
}
.mainnav li.active ul li a {
    padding: 0 0 0 20px;
    background: #cfe09b;
}
.mainnav li.active ul li a:hover {
    background: #94c11d;
}
.mainnav li.active ul li.active a {
    background: #a1cb55;
}
aside {
    width: 210px;
    float: left;
    margin-top: 25px;
}
.address,
.testimonials {
    width: 184px;
    padding: 13px;
    background: #cccccc;
    margin-bottom: 1px;
    font-variant: normal;
    font-weight: normal;
}
.address a {
    color: #000000;
    text-decoration: none;
}
.address a:hover {
    color: #94c11d
}
.testimonials {
    background: #cfe09b;
    font-weight: bold;
    display: none;
}
.testimonials img {
    margin-left: -13px;
    margin-top: -13px;
    margin-bottom: 13px;
    border-bottom: solid 1px #ffffff;
}
.white {
    color: #ffffff;
}
.content {
    width: 640px;
    float: right;
    color: #505050;
}
.content h1,
.content h2 {
    background: #94c11d;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 14px;
    color: #000;
}
.content h3 {
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}
.content h4 {
    font-weight: bold;
    margin-top: 20px;
}
.content h5 {
    margin-top: 15px;
}
.content h6 {
    margin-top: 10px;
}
.content table {
    width: 100%;
}
.content ul li {
    list-style-type: disc;
    margin-left: 50px;
    padding-left: 20px;
}
.footer {
    font-size: 12px;
    color: #9d9d9d;
    padding-top: 50px;
    line-height: 16px;
    width: 100%;
    clear: both;
}
div.Image {
    display: none;
}
.news-list-container {
    border-top: solid 1px #94c11d
}
.news-list-item {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: solid 1px #94c11d;
}
.news-list-text,
.news-single-text {
    float: left;
    width: 420px;
}
.news-list-image,
.news-single-image {
    float: right;
    width: 200px;
}
.news-list-container h4 {
    margin: 0px;
}
.news-list-container h4 span {
    margin-right: 10px;
    font-weight: normal;
    font-size: 13px;
    color: #ccc;
}
.news-list-morelink {
    margin-left: 10px
}
.news-single-backlink {
    border-top: solid 1px #94c11d;
    margin-top: 30px;
}
.lazy {
    display: none;
}
.gruen {
    color: #94c11c;
}
.gruen_linie {
    border-bottom: solid 1px #94c11c;
}