/**
 * Main Settings
 */
div.tx-powermail h3 {
    display: none;
}
div.tx-powermail {
  font-size: 14px;
  width: 100%;
  padding-top:20px;
}
.powermail_message {
    margin-bottom:20px;
 
}
.powermail_message_ok {
}
.powermail_message_error {
}
.powermail_message li {
    padding: 10px 50px 10px 0;
    font-weight: bold;
     color: #94c11c;
  padding-left:0px !important;
  margin-left:0px !important;
  list-style-type:none !important;
}
.clear {
    clear: both;
}

/**
 * Form
 */
.powermail_fieldset {
    clear: left;
  border: 0;
  margin-bottom: 20px;
}
.powermail_legend {
  display:none
}
.powermail_label {
  /* label */
  display: block;
  width: 30%;
  float: left;
  clear: left;
}
div.powermail_fieldwrap {
    margin: 0 0 0.5em 0;
     clear: both;
}
.powermail_field {
  font-size: 14px;
  width: 69%;
  padding: 3px 0px;
    border: solid 1px #94c11d;

}
.powermail_captcha {
    width: 392px;
}
.powermail_textarea {
  height: 80px;
}
input.powermail_field:focus {
  background-color: #fff;
  outline: none;
}
.powermail_submit {
  margin: 10px 2px 10px 0;
  float: right;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  width:auto;
  background:#94c11d;
  color:#fff;



}
.powermail_fieldwrap_radio fieldset,
.powermail_fieldwrap_check fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
.powermail_fieldwrap_radio fieldset legend,
.powermail_fieldwrap_check fieldset legend {
    padding: 0;
}
.powermail_radio_outer,
.powermail_captcha_outer,
.powermail_check_outer {
    background-color: white;
    border: 1px solid #ccc;
    float: left;
    padding: 3px;
    width: 392px;
}
.powermail_radio_outer label,
.powermail_captcha_outer label,
.powermail_check_outer label {
    color: #444;
}
.powermail_captchaimage {
    width: 392px;
    margin-top: 10px;
}
div.error {
    background-color: #FFCA4B;
    border: 1px solid #FF8100;
}
.powermail_field_error {
    background-color: #FFCA4B;
    border: 1px solid #FF8100;
}
div.powermail_fieldwrap_file_inner {
    overflow: hidden;
    height: 26px;
    padding: 3px;
    width: 392px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-image: url('/typo3conf/ext/powermail/Resources/Public/Image/upload_bg.png');
}
input.powermail_file {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}


/**
 * Confirmation
 */
.powermail_confirmation {
    clear: left;
  border: 0;
  padding: 10px;
  margin-bottom: 20px;

}


/**
 * Powermail All
 */
dl.powermail_all {
    padding: 5px 0;
}
dl.powermail_all dt {
    font-weight: bold;
    float: left;
    width: 150px;
    clear: left;
}
dl.powermail_all dd {
    float: left;
    width: 420px;
}

/**
 * Create
 */
.powermail_create {
     margin-top: 20px;

 font-weight:bold;
   
}

/**
 * JS Form Validation
 */




/* Z-INDEX */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
.formErrorInsideDialog.formError { z-index: 5000; }
.formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
.formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }
.inputContainer {
  position: relative;
  float: left;
}
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
}
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none
}
.formError .formErrorContent {
  width: 100%;
  position:relative;
  color: #fff;
  width: 150px;
  font-size: 11px;
  box-shadow: 0 0 6px #fff;
  -moz-box-shadow: 0 0 6px #fff;
  -webkit-box-shadow: 0 0 6px #fff;
  padding: 4px 10px 4px 10px;

    background: rgba(148,193,29,0.9); 

}

.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px 0 0 12px;
  top:2px;
}
.formError .formErrorArrow div {
  
  
  font-size: 0px;
  height: 1px;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;

    background: rgba(148,193,29,0.9); 
}
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.formError .formErrorArrow .line10 {
  width: 15px;
  border: none;
}
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none;
}
.formError .formErrorArrow .line8 {
  width: 11px;
}
.formError .formErrorArrow .line7 {
  width: 9px;
}
.formError .formErrorArrow .line6 {
  width: 7px;
}
.formError .formErrorArrow .line5 {
  width: 5px;
}
.formError .formErrorArrow .line4 {
  width: 3px;
}
.formError .formErrorArrow .line3 {
  width: 1px;

}
.formError .formErrorArrow .line2 {
width: 0px;
}
.formError .formErrorArrow .line1 {
  width:0px;
}